@using ReliableE2ETestsWithSelenium.Infrastructure
@{
    ViewBag.Title = "Test1";
}

<h2>Test1</h2>


<a href="#" id="refresh-list">Refresh</a>
<ol id='product-list'>
    @foreach (var product in DB.GetProducts())
    {
        <li>@product</li>
    }
</ol>



<script type="text/javascript">

    $("#refresh-list").click(function (e) {
        
        $.getJSON("@Url.Action("GetProducts", "Home")", function (data) {
            $("#product-list").empty();
            $("#product-template").tmpl(data).appendTo("#product-list");
        });
        
        e.preventDefault();
    })

</script>

<script id="product-template" type="text/x-jquery-tmpl">
    <li>${}</li>
</script>
